<div class="card post" id={{id}}>
  <div class="card-header">
    <div class="title">
      {{title}}
    </div>
    <div class="post-info">
      Posted by
      {{user.name}}
      on
      {{format_date created_at}}{{#if updated_at}}
        updated on
        {{format_date updated_at}}{{/if}}.
    </div>
  </div>
  <div class="card-body">
    {{content}}
    {{#if showEdit}}
      <br />
      <button class="post-btn right-btn">Edit Me</button>
    {{/if}}
  </div>
  <button class="accordion">Comments</button>
  <div class="comments">
    {{#if comments}}
      {{#each comments as |comment|}}
        <div class="comment">
          <div class="comment-header">
            <div class="user">{{comment.user.name}}</div>
            <div class="post-info">
              Comment created on
              {{format_date comment.created_at}}{{#if comment.updated_at}}
                updated on
                {{format_date comment.updated_at}}{{/if}}.
            </div>
          </div>
          <hr />
          {{comment.comment}}
        </div>
      {{/each}}
    {{/if}}
    <div>
      <div class="comment">
        <form class="form-add-comment" id="{{id}}">
          <label for="add_comment">Add Comment:</label>
          <textarea id="comment{{id}}" name="add_comment"></textarea>
          <button class="post-btn right-btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>